*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --light-gray:#dadce0;
}

nav{
    overflow: auto;
    width: 100%;
    background-color: black;
    height: 5rem;
}

nav img{
    width: 150px;
    height: 70px;
    margin-top: 0px;
}

body{
    margin: 0;
    background-color: var(--light-gray);
}

.form-control{
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
    background-color: #eceef5;
    padding: 9px;
}



.h1, h1 {
    font-size: 2rem;
}

.btn-primary {
    border-color: #007bff;
    background-color: white;
    color: #007bff;
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px;
}

.border-bottom{
    border-bottom: 0.0625rem solid #e9ecef!important;
}

.card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card__title {
    font-weight: 600;
    font-size: 1.5rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.skillspan{
    display: inline-flex;
}